* {
    background-color: lightsalmon;
    font-family: "Time New Roman", sans-serif;
    text-align: center;
}

.rh {
    color: #fff;
    background-color: brown;
    text-align: center;
    padding: 8px;
}

img {
    margin: auto;
    display: block;
    padding: 20px;
    
}

.hl {
    background-color: darkred;
    color: #fff;
    display: block;
    padding: 5px;
}
h3,
p {
    background-color: darkorange;
    padding: 9px;
    margin: 0;
}

.wr {
    background-color: yellow;
    color: #000;
    display: inline-block;
    padding: 0;
}

.cg {
    background-color: brown;
    color: #fff;

}